<div class="glavno">
  <div class="glavno-text">
    <h1>My First Project</h1>
    <p>First successfull project in angular.</p>
    <div class="glavno-ikonice">
      <h3>My social netwok</h3>
      <div class="glavno-mreze">
        <a
          class="ikonica"
          target="_blank"
          href="https://www.facebook.com/muhamed.sikira"
        >
          <img src="./assets/images/facebook-logo.png" alt="" />
        </a>
        <a
          class="ikonica"
          target="_blank"
          href="https://www.instagram.com/m.sikira/"
        >
          <img src="./assets/images/ig-logo.png" alt="" />
        </a>
        <a
          class="ikonica"
          target="_blank"
          href="https://github.com/Muhamed-Sikira"
        >
          <img src="./assets/images/github-logo.png" alt="" />
        </a>
        <a
          class="ikonica"
          target="_blank"
          href="https://www.linkedin.com/in/muhamed-sikira-88320a24b/"
        >
          <img src="./assets/images/linked-logo.png" alt="" />
        </a>
      </div>
    </div>
  </div>
  <div class="glavno-slika">
    <img
      class="profilna"
      style="width: 250px"
      src="./assets/images/profilna.jpg"
      alt="profilna"
    />
  </div>
</div>
